<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
<uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
<activity
    android:name=".MainActivity"
    android:label="@string/app_name"
    android:theme="@style/AppTheme"
    android:configChanges="keyboard|keyboardHidden|orientation|screenSize|smallestScreenSize|screenLayout|density|uiMode"
    android:windowSoftInputMode="adjustResize"
    android:exported="true">
    <meta-data
        android:name="expo.modules.updates.EXPO_UPDATE_URL"
        android:value="YOUR_EXPO_PROJECT_URL"/>
    <meta-data
        android:name="expo.modules.updates.ENABLED"
        android:value="true"/>
    <meta-data
        android:name="expo.modules.updates.SDK_VERSION"
        android:value="XX.X.0"/>
    <!-- Masquer la barre de statut -->
    <meta-data
        android:name="android:windowFullscreen"
        android:value="true"/>
</activity>
